{% extends 'team/base.html' %}
{% load static %}

{% block css_files %}
  <link rel="stylesheet" href="{% static "team/form_style.css" %}">
  <link rel="stylesheet" href="{% static "team/description.css" %}">
{% endblock %}

{% block title %}
  Add new employee
{% endblock %}

{% block content %}
  <form action="" method="POST">
    {% for field in form %}
      {% csrf_token %}
      <div class="form-control {% if field.errors %}{% endif %}">{{ field.label_tag }}
        {{ field }}
        {{ field.errors }}</div>
    {% endfor %}
    <button type="submit">Send</button>
  </form>
{% endblock %}
